* {
  box-sizing: border-box;
}
:root {
--background-color: black ;
--primary-color: rgb(58, 54, 54) ;
--font-family:Verdana, Geneva, Tahoma, sans-serif;
--color-yellow:#FFDe00;


}
body {
  padding-top: 10px;
  background-color: var(--background-color);
  line-height: 1.8;
  font-family: var(--font-family);
  color: var(--primary-color);
}

li{
  list-style-type: none;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
button{
  list-style-type:none;
  
}
.pokemon-list {
 
  list-style-type: none;
  text-align: center;  
}
.pokemon-container{
 
  text-align: center;  
}

@media all and (max-width: 500px) {
  .button-class {
    width: 75vw;
  }
}
/* #modal-container {
display: none;
}
#modal-container.is-visible {
position: fixed;
padding: 20px;
box-sizing: border-box;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
z-index: 999; 
overflow: auto; 
display: grid;
text-align: center;
}
.modal {
margin: auto;
display: inline-block;
box-sizing: border-box;
background: #fff;
padding: 15px;

max-width: 700px;
text-align: left;
}
.modal-close {
float: right;
-webkit-appearance: none;
border: 0;
background: none;
color: #777;
text-decoration: underline;
cursor: pointer;
}

.modal h1 {
margin-top: 0;
text-align: inherit;


}

.modal p {
margin-bottom: 0;
} */

.card {
  border-radius: 30px;
  margin: 15px;
  width: 500px;
}
div.row {
  flex-direction: row;
  justify-content: space-evenly;
  margin: 15px;
}

img.card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h4.card-title {
  display: block;
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
}

.btn {

  font-size: 10px;
  color: white;
  text-transform: capitalize;
  background-color: var(--background-color);
  border: none;
  border-radius: 30px;
  list-style-type: none;
  width: 100%;
  padding: 20px;
  cursor: pointer;
 
}

.modal-title {
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
}

.modal-body{
  padding: 80px;
  text-align: center;
  text-transform: capitalize;
}


.btn:hover , .btn:active {
  color:  black;
  background-color: var(--color-yellow);
 
}

.header {
    padding-bottom: 100px;
}








